{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/custom.css' %}">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&Nanum+Gothic:wght@700&Nanum+Pen+Script&display=swap" rel="stylesheet"> 
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script type='text/javascript' src="{% static 'js/custom.js' %}"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

      
    </head>

    <body>
        <div id='wrap'>
        {% block content %}
        {% endblock %}
        </div>
        
    </body>
    <footer>

    </footer>
</html>